.name {
    font-size: 24px;
    font-weight: 600;
    color: var(--soft-blue);
    line-height: 1;
}

.description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
    color: var(--dark-blue);
}

.directions {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.direction {
    background: #f0f0f0;
    border-radius: 20px;
    color: var(--soft-blue);
}

.rating {

    font-size: 14px;
    font-weight: 600;
    color: var(--soft-blue);
    display: flex;
    align-items: center;
    gap: 4px;
}

.info-section {
    font-style: normal;
    border-radius: 16px;
    background-color: #fff;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.2;
    font-weight: 400;
}

.specialist-card {
    display: flex;
    background: var(--soft-white);
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .h2 {
        font-size: 32px;
        line-height: 110.00000000000001%;
        letter-spacing: -1%;
    }

    .info-section {
        padding: 30px 15px;
    }
}

.btn {
    background-color: var(--soft-blue);
    display: inline-block;
    color: #fff;
}